@font-face {
  font-family: "Aeros";
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/Aeros.ttf);
}

body {
    background: black;
  font-family: "Aeros";
}


.App {
  background: black;
}
* {
}
